registry=https://registry.npmmirror.com

# for mermaid
public-hoist-pattern[]=@braintree/sanitize-url
public-hoist-pattern[]=dayjs
public-hoist-pattern[]=debug
public-hoist-pattern[]=cytoscape-cose-bilkent
public-hoist-pattern[]=cytoscape
